Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  hicpp-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  concurrency-*,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-vararg,
  -bugprone-reserved-identifier,
  -bugprone-suspicious-stringview-data-usage,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-type-union-access,
  -hicpp-static-assert,
  -readability-function-cognitive-complexity

# -cppcoreguidelines-pro-type-reinterpret-cast
# -hicpp-no-array-decay

WarningsAsErrors: '*'

HeaderFilterRegex: '^(?!.*tracy).*'

CheckOptions:
  # Disallow raw owning pointers
  - { key: cppcoreguidelines-owning-memory.AllowedSmartPointerTypeNames, value: 'std::unique_ptr,std::shared_ptr' }

  # Force nullptr
  - { key: modernize-use-nullptr.NullMacros, value: 'NULL' }

  # Require override
  - { key: modernize-use-override.EnableOverride, value: 1 }

